<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title }}</title>
  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}" type="text/css">
  <link rel="icon" href="{{ 'shopify-skeleton.svg' | asset_url }}" type="image/svg+xml">
  <script src="{{ 'main2.js' | asset_url }}" defer></script>
</head>
<body class="grid min-h-full grid-cols-[100%] grid-rows-[1fr] bg-gradient-dark">
    <main>
        {{ content_for_layout }}
    </main>
</body>
</html>
